/* leaflet code from weekendaway */
#map { height: 400px; }

/* Mapbox code from European Startups */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }


  .marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue; /* Initial color */
    cursor: pointer;
    border-style:solid;
    border-color: yellow
}

.marker:hover {
    background-color: red; /* Color on hover */
}
