<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A380 Map - Where Does The A380 Fly - Airlines and Routes</title>

    <!-- Meta Description -->
    <meta name="description"
        content="Discover the destinations and flight paths of the Airbus A380 with our interactive map. Track real-time flights and explore A380 routes worldwide.">

    <!-- Canonical Tag -->
    <link rel="canonical" href="https://www.wheredoesthea380fly.com" />

    <!-- Robots Tag -->
    <meta name="robots" content="index, follow">

    <!-- Other tags for SEO -->
    <!-- If your website is mobile-friendly, it's good to let search engines know. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- this is the Mapbox code -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>


    <div class="airlineFilter">
        <span>
            <img class="airline" src="koreanAir.png" id="koreanAir" alt="Korean Air">
            <img class="airline" src="emirates.png" id="emirates" alt="Emirates">
            <img class="airline" src="britishAirways.png" id="britishAirways" alt="British Airways">
            <img class="airline" src="etihad.png" id="etihad" alt="Etihad">
            <img class="airline" src="qatar.png" id="qatar" alt="Qatar">
            <img class="airline" src="ana.png" id="ana" alt="All Nippon Airways">
            <img class="airline" src="asiana.png" id="asiana" alt="Asiana">
            <img class="airline" src="lufthansa.png" id="lufthansa" alt="Lufthansa">
            <img class="airline" src="singaporeAirlines.png" id="singaporeAirlines" alt="Singapore Airlines">
            <img class="airline" src="qantas.png" id="qantas" alt="Qantas">
        </span>
    </div>
    <div id="map"></div>


    <div id="tooltip"></div>
    <div id="lineTooltip" class="mapboxgl-lineTooltip"></div>

    <div class="parent-div">
        <div class="fixed-div">
            Looking for an air industry job ... ?! Try <b><a href="https://www.airtraveltechjobs.com"
                    target=”_blank”>Air Travel Tech
                    Jobs</a></b>!
        </div>
    </div>
    <div class="seodata">
        <h1>Airbus A380 Flight Paths and Destination Map</h1>
        <h2>Flight Route Highlights</h2>
        <h3>Transatlantic A380 Routes</h3>
        <p>Content about transatlantic routes...</p>
        <h3>Asia-Pacific A380 Routes</h3>
        <p>Content about Asia-Pacific routes...</p>
    </div>



    <!-- <script src="index.js"></script> -->
    <script type="module" src="index.js"></script>
</body>

</html>