/* leaflet code from weekendaway */
#map { height: 600px; }

/* Mapbox code from European Startups */
#map {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    width: 80%;
    margin:auto;
  }

  .marker {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: blue; /* Initial color */
    cursor: pointer;
    border-style:solid;
    border-color: yellow
}

.airline{
  border-style:solid;
  border-width: 5px;
  border-color:black;
  border-radius:5px;
  width: 100px;
  height: 70px;
  object-fit: contain;

}

.airlineFilter{
  width: 80%;
  margin:auto;
}

.airline:hover{
  border-color:blue;
  animation: blinkAirline 1.5s linear infinite;
}

.mapboxgl-lineTooltip {
  position: absolute;
  display: none;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  pointer-events: none; /* Allow interactions with the map underneath */
}

.unselected {
  border: 2px solid blue;
}

@keyframes blinkAirline { 50% { border-color:#89CFF0 ; }  }


/* CSS style for changing the cursor to a pointer when hovering over the "route" layer */
.mapboxgl-canvas.hover-pointer {
  cursor: default;
}

.marker:hover {
    background-color: red; /* Color on hover */
    animation: blinkMarker 1.5s linear infinite;
}


@keyframes blinkMarker { 50% { background-color:#89CFF0 ; }  }



@keyframes animatedgradient {
  0% {
      background-position: 0% 50; /* Start with background hidden to the left */
  }
  50% {
    background-position: 100% 50%; /* Move background to the right */
}
  100% {
      background-position: 0% 50%; /* Move background to the right */
  }
}

/* Apply the animation to the tooltip */
#tooltip {
  display: none;
  position: absolute;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background: linear-gradient(60deg,#f5b31e,#ffe289,#FFBF00);
  background-size: 300% 300%; /* Double the width to accommodate the animation */
  animation: animatedgradient 3s ease infinite alternate; /* Use a different duration if needed */
}


